header {
   width: 100%;
   min-height: 800px;
}

.fondo-main h1 {
   color: #ffffff;
   position: relative;
   /*font-size: 56px;*/
   top: -150px;
   opacity: 0;
   animation-name: difuminarArriba; /* el nombre de la animacion que usaremos en el keyframes*/
   animation-duration: 1s; /* duración de la animación */
   animation-timing-function: ease-out; /* la curva de velocidad de la animación */
   animation-iteration-count: 1; /* cuantas veces queremos que lo repita */
   animation-delay: 0.3s; /* retraso de la animación */
   animation-fill-mode: forwards; /* Para que se quede en el estado final del 100%*/
 }
 
 @keyframes difuminarArriba {
   0% {
     top: -100px;
     opacity: 0;
   }
 
   30% {
     opacity: 0;
   }
 
   100% {
     top: 0px;
     opacity: 1;
   }
 }

.wave {
   position: relative;
   padding-top: 6rem;
 
   background: linear-gradient(90deg, rgba(183, 110, 121, 1) 0%, rgba(215, 169, 192, 1) 50%, rgba(183, 110, 121, 1) 100%);



}


.btn-light {
   background-color: #FFFFFF; /* Blanco */
   color: #B76E79; /* Texto rose gold oscuro */
   border: 2px solid #B76E79; /* Borde rose gold */
   border-radius: 5px;
   padding: 10px 20px;
   font-size: 16px;
   cursor: pointer;
   transition: all 0.3s ease;
}

.btn-light:hover {
   background-color: #D7A9C0; /* Rose gold claro */
   color: #FFFFFF; /* Texto blanco */
}

.btn-dark {
   background-color: #3C3C3C; /* Gris oscuro */
   color: #FFFFFF; /* Blanco */
   border: none;
   border-radius: 5px;
   padding: 10px 20px;
   font-size: 16px;
   cursor: pointer;
   transition: all 0.3s ease;
}

.btn-dark:hover {
   background-color: #B76E79; /* Rose gold oscuro */
}

.card-servicio h5 {
   font-size: 16px;
 }
 
 .card-servicio p {
   font-size: 13px;
 }
 
 .card-servicio a {
   position: absolute;
   bottom: 12px;
   right: 12px;
   font-size: 14px;
 }
 
 .foto-card-servicio {
   width: auto;
   height: 100%;
 }




 .cargandoServicios {
   text-align: center;
   background: white;
   border: 2px solid gray;
   border-radius: 16px;
   padding: 50px;
   box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
 }
 
 .cargandoServicios video {
   width: 250px;
 }
 
 .cargandoServicios p {
   font-size: 1.3rem;
   font-weight: bold;
   color: rgb(200, 117, 129);
   /* #dda15e;*/
   
 }
 
 #caracteristicas-servicio {
   background: #f2e1cd;
   width: 100% !important;
   margin: 0px;
   position: relative;
   max-width: 100%;
 }

 #caracteristicas-servicio .feature-icon p {
   font-size: 4.8rem;
   margin: 0px;
   font-weight: bold;
 }
 
 #caracteristicas-servicio .feature-title {
   color: #606c38 !important;
   font-weight: normal;
 }
 
 .contenedorFotoServicio {
   position: relative;
   width: max-content;
   margin: 0px auto !important;
 }
 


 .duracionServicio {
   font-size: 0.9rem !important;
   font-weight: bold;
   background: rgba(255, 255, 255, 0.85);
   position: absolute;
   top: 6px;
   left: 6px;
   border-radius: 50px;
   padding: 4px 16px;
   margin: 0px !important;
   text-align: center;
   display: block !important;
 }
 
 .contenedor-foto {
   overflow: hidden;
   height: 240px;
 }
 
 .texto-destacado {
   font-size: 32px;
 }

.btn-custom {
   border: 1.5px solid #FFFFFF;
   border-radius: 50px;
   color: #FFFFFF;
   background: none;
   padding: 8px 20px;
   font-weight: 500;
   text-decoration: none;
   transition: all 0.6s;
}



.navbar-fixed {
   background-color: rgb(200, 117, 129);
   padding-top: 0;
   padding-bottom: 0;
   transition: all 0.6s;
   box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.1);
}

.foto-feature {
   padding-left: 0px;
   padding-right: 32px;
   padding-top: 16px;
   padding-bottom: 12px;
 }
 
 .foto-feature img {
   width: 100%;
   border-radius: 16px;
 }

 .estrella {
   position: absolute;
   top: 8px;
   right: 8px;
   width: 90px;
 }

 .servicioDestacadoImg {
   width: 58px;
   position: absolute;
   top: -18px;
   right: -20px;
 }

section {
   padding: 0px 0;
}

.section-bg {
   background-color: #F9F9FD;
}

.section-title {
   text-align: center;
   padding-bottom: 30px;
}

.section-title h2 {
   font-size: 32px;
   font-weight: bold;
   text-align: center;
   margin-bottom: 20px;
   color: #070707;
}


/* about */

.about .member {
   padding: 30px;
   border-radius: 5px;
   background: #F9F9FD;
   transition: 0.5s;
}

.about .member:hover {
   box-shadow: 0px 15px 30px rgb(77 87 222 / 30%);
   background: #fff;
}

.about .member h4 {
   font-weight: 700;
   margin-bottom: 5px;
   font-size: 20px;
   color: rgb(200, 117, 129);
}

.about .member .pic {
   overflow: hidden;
   width: 180px;
   border-radius: 50%;
}

.about .member span {
   display: block;
   font-size: 15px;
   padding-bottom: 10px;
   font-weight: 500;
}

.about .member p {
   margin: 10px 0 0 0;
   font-size: 14px;
}

.about .member a {
   transition: ease-in-out 0.3s;
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 50px;
   width: 38px;
   height: 38px;
   border: 1px solid;
}

.about .member a:hover {
   background: #0061F2;
   color:#FFFFFF;
}


/* services */

.destacados .icon-box {
   padding: 33px 25px;
   text-align: center;
   background: #FFFFFF;
   cursor: pointer;
   transition: 0.5s;
}

.destacados .icon-box:hover {
   box-shadow: 0px 15px 30px rgb(77 87 222 / 30%);
}

.destacados .icon-box .icon i {
   color: rgb(200, 117, 129);
   font-size: 43px;
}

.destacados .icon-box h4 {
   margin-bottom: 15px;
   color: rgb(200, 117, 129);
}

/* contacto */

iframe {
   max-width: 100%;
}


/* ultimos ajustes */

.navbar-toggler {
   padding: .10rem .45rem;
   border: 1px solid #FFFFFF;
}

.navbar-toggler:focus {
   outline: none;
   box-shadow: none;
}

.navbar-toggler i.bi-list {
   color: #FFFFFF;
   font-size: 1.6rem;
}

@media (max-width: 992px) {
   .navbar-collapse {
      padding-bottom: 19px;
   }
   .wave {
      padding-top: 6rem;
   }
}

@media (max-width: 768px) {
   .text-center-xs {
      text-align: center;
   }
   .text-center-xs img {
      width: 366px;
   }
}


footer {
   background-color: rgb(200, 117, 129);
   text-align: center;
   padding: 16px;
   padding-left: 32px;
   padding-right: 32px;
 }
 
 footer p {
   color: #FFFFFF;
 }













 .custom-navbar {
   background: linear-gradient(90deg, rgba(200, 117, 129, 1) 100%, rgba(215, 169, 192, 1) 1%, rgba(183, 110, 121, 1) 50%);
   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
   transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.navbar-nav .nav-link {
   color: #ffffff !important; /* Color blanco */
   font-size: 1rem;
   transition: color 0.3s ease;
}

.navbar .nav-link {
   color: #FFFFFF;
   margin-right: 29px;
   transition: 0.2s;
}

a.nav-link:hover {
   padding-bottom: 3px;
   border-bottom: 2px solid #FFFFFF;
}


/*
.navbar-nav .nav-link:hover {
   color: #ffffff; 
}

*/

.navbar-brand {
   color: #ffffff !important; /* Asegura que el texto del logo sea blanco */
}

.btn-custom {
   background-color: #ffffff;
   color: #b76e79;
   border: 1px solid #b76e79;
   padding: 0.5rem 1rem;
   transition: all 0.3s ease;
}

.btn-custom:hover {
   background-color: #b76e79;
   color: #ffffff;
   border-color: #ffffff;
}

.custom-navbar.scrolled {
   background-color: rgb(200, 117, 129);
   box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}
